.m-span{
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 0 5px 20px;
    width: 55px;
}
.box{
    margin: 0 13px;
    padding: 9px;
    width: 320px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
select{
    margin: 0 13px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 120px;
    height: 30px;

}
.content{
    display: inline-block;
    padding: 13px;
    width: 1000px;
}
.submit{
    color: white;
    background-color: #92b901;
    border-radius: 5px;
    margin: 20px 0 0 92px;
    padding: 8px 18px;
}