table{
    border: 2px solid #eeeeee;
    border-collapse: collapse;
    font-size: 13px;
}
tr{
    border: 1px solid #eeeeee;
}
th,td{
    text-align: left;
    padding: 10px;
}
th{
    background-color: #F0F0F0;
}
.fa-trash-alt{
    color: red;
}
.fa-edit, .fa-comment{
    color: yellowgreen;
    padding-right: 10px;
}
#operate{
    width: 62px;
}
#title{
    width: 200px;
}
#type, #name, #author, #id{
    width: 100px;
}
#time{
    width: 150px;
}